<!DOCTYPE html>
<html>
  <head>
    <title>404</title>
      <link rel="icon" href="/img/ic.png">
    <link rel="stylesheet" href="./css/styles.css" />
    
  </head>

  <body>
    <div>  {{>Header}}
    <p>{{errorMessage}}</p></div>
  
      {{>Footer}} 
  
    
  </body>
</html>
