<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
      <link rel="icon" href="/img/ic.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <div class="main-content">  
      {{>Header}} 
      <img src="./img/1.jpg" class="portrait"/></div>
  
   {{>Footer}}
   
  </body>
</html>
