<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
      <link rel="icon" href="/img/ic.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <div class="main-content">  
      {{>Header}} 
      <p>Myself nanda and I am a computer science undergraduate at SRM IST .</p> 
        <p>I have used MapBox API and weatherstack.com to fetch the data and we use it on our site to display it our users !
      </p>
      <img src="./img/1.jpg" class="portrait"/></div>
      <p>Yep that's me !</p>
  
   {{>Footer}}
   
  </body>
</html>
