<!DOCTYPE html>
<html>
  <head>
    <title>Help</title>
      <link rel="icon" href="/img/ic.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <div class="main-content"> {{>Header}}

    <p>Sorry no help can be provided at the moment</p>
    <p>Please stay tuned !</p>
    <img src="./img/loading.png" class="portraits"/>
    </div>
    <p class="query">For any queries feel free to contact</p>
    <p class="email">Email:magz3116@gmail.com</p>


    {{>Footer}}
  </body>
</html> 
