<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <link rel="icon" href="/img/ic.png">
    <link rel="stylesheet" href="./css/styles.css" />
   
  </head>

  <body>
    <div class="main-content">
       {{>Header}}
<p class="bodypara">Your all time favorite site to get quick weather reports from all over the world !</p>
<form>
  <input placeholder="Location">
  <button>Search</button>
  <img class="portrait" src="./img/weather.png"/>
</form>
<p id="msg1"></p>
<p id="msg2"></p>

    </div>
   
      {{>Footer}} 
     <script src="/js/app.js"></script>
    
  </body>
</html>
