#index {
  color: #0074d9;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: "#0074D9";
}
.paragraph {
  color: "#aaaaaa";
}
#about {
  color: "red";
}
.bodypara {
  color: #888888;
}
body {
  color: black;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: #aaaaaa;
  border-top: 1px solid #eeeeee;
  margin-top: 12px;
  padding: 16px 0;
}
.main-content {
  flex-grow: 1;
}
header {
  margin-top: 16px;
  margin-bottom: 48px;
}
h1 {
  font-size: 60px;
  margin-bottom: 15px;
}
.portraits {
  width: 300px;
  color: rgba(0, 255, 0, 0.1);
  display: flex;
  justify-items: center;
  justify-content: center;
  justify-items: center;
}
header a {
  color: #85144b;
  margin-right: 16px;
  font-weight: 800;
  text-decoration: underline;
  text-decoration: none;
}
.portrait {
  width: 250px;
}
input {
  border: 2px solid #cccccc;
  padding: 8px;
  border-radius: 3px;
}
.email {
  color: black;
  font-weight: 300;
}
#msg2 {
  color: #adb7bd;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;

  margin: 0;
}
#msg1 {
  color: #adb7bd;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.query {
  margin-top: 50px;
  text-decoration: underline;
}
button {
  cursor: pointer;
  border: 1px solid #ffd700;
  background-color: #ffd700;
  color: white;
  padding: 8px;
  border-radius: 3px;
}
